.container-box__images{
    position: relative;
    left: 15%;
}

.container-box-softskills__image{
    width: 28%;
  
}

.container-box-proyect__images{
    display: flex;
    justify-content: space-around;
    width: 65%;
}