.container-box{
    margin-top: 5%;
}
.container-box-softskills {
  position: relative;
  left: 13%;
}

.container-box-proyect {
  position: relative;
  left: 13%;
  width: 75%;
}

.container-box-contact{
    position: relative;
    left: 13%;
    width: 75%;
}